.inputField {
    display: flex;
    flex-direction: column;
}

label {
    padding: 0px;
}
input[type=text], input[type=email] {
    width: 278px;
    height: 33px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 11px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 7px 0px 14px 0px;
}

input[type=number] {
    width: 111px;
    height: 33px;
    flex-shrink: 0;
    
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 15px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 7px 0px 34px 0px;
}

input:hover {
    border: 1px solid #475242;
    transition: 0.6s;
    color: rgba(0, 0, 0, 0.25);
}

.BSbuttons {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

button {
    width: 100%;
}

@media (min-width: 1200px) {
    label {
        height: 40px;
        margin: 0px;
    }
    input[type=text], input[type=email] {
        width: 459px;
        height: 52px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding-left: 11px;
    
        color: rgba(0, 0, 0, 0.25);
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    
        margin: 8px 0px 27px 0px;
    }
    input[type=number] {
        width: 152px;
        height: 52px;
        flex-shrink: 0;
        
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding-left: 15px;
    
        color: rgba(0, 0, 0, 0.25);
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    
        margin: 7px 0px 44px 0px;
    }
    .BSbuttons {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    
    button {
        width: 418px;
    }
}

