<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form - 3</title>
    <link rel="stylesheet" href="../second/second.css">
    <link rel="stylesheet" href="fifth.css">
    <script src="fifth.js" refer></script>
</head>
<body>
    <div class="container">
        <section>
            <img src="../../../public/img/five.svg" alt="">
        </section>

        <form action="">
            <section class="inputField">
                <label>Full Name:</label>
                <input required id="name" type="text" placeholder="Nasser Toghiri">
            </section>

            <section class="inputField">
                <label>Email:</label>
                <input required id="email" type="email" placeholder="N.Toghiri@Gmail.com">
            </section>

            <section class="inputField">
                <label>Age:</label>
                <input required id="age" type="number" placeholder="-- --">
            </section>

            <section class="BSbuttons">

                <button id="backButton">
                    <a class="handleLink" href="../fourth/index.html">Back</a>
                </button>
                <button id="submitButton" type="submit">Submit</button>
                
            </section>
        </form>
    </div>
</body>
</html>