<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form - 2</title>
    <link rel="stylesheet" href="../second/second.css">
    <script src="third.js" refer></script>
</head>
<body>
    <div class="container">
        <section>
            <img src="../../../public/img/three.svg" alt="">
        </section>

        <form action="">
            <section class="selectOpt">
                <label for="select">How do you decide to invest?</label>
                <select id="select" required>
                    <option value=1 id="option">I have not invested yet.</option>
                    <option value=2 id="option">Risk and Return Assessment.</option>
                    <option value=3 id="option">Market Research.</option>
                </select>
            </section>

            <section class="radioOpt">
                <section id="optOne" class="gap">
                    <label for="">What resources have you used or are you using for your training?</label>
                    <div>
                        <input id="teste" type="checkbox" name="input_checkbox" value="1">
                        <label>Books and articles</label>
                    </div>
                    <div>
                        <input type="checkbox" name="input_checkbox" value="2">
                        <label>YouTube tutorial videos</label>
                    </div>
                    <div>
                        <input type="checkbox" name="input_checkbox" value="3">
                        <label>Online or face to face courses</label>
                    </div>
                </section>
                <section id="optTwo" class="gap hidden">
                    <label for="">where have you invested?</label>
                    <div>
                        <input id="" type="checkbox" name="input_checkbox" value="4">
                        <label>Direct treasure</label>
                    </div>
                    <div>
                        <input type="checkbox" name="input_checkbox" value="5">
                        <label>CryptoCoins</label>
                    </div>
                    <div>
                        <input type="checkbox" name="input_checkbox" value="6">
                        <label>CDBs</label>
                    </div>
                </section>
                <section id="optThree" class="gap hidden">
                    <label for="">Select an option below</label>
                    <div>
                        <input type="checkbox" name="input_checkbox" value="7">
                        <label>Real Estate Market</label>
                    </div>
                    <div>
                        <input type="checkbox" name="input_checkbox" value="8">
                        <label>Agribusiness</label>
                    </div>
                    <div>
                        <input type="checkbox" name="input_checkbox" value="9">
                        <label>CRIs and/or CRAs</label>
                    </div>
                </section>
            </section>

            <section class="allButtons">
                <div class="dirButtons">
                    
                    <button id="backButton">
                        <a class="handleLink" href="../second/index.html">Back</a>
                    </button>
                    <button id="submitButton" type="submit">Next</button>
                </div>
                
                    <button class="skipButton">
                        <a class="handleLink" href="../fourth/index.html">Skip</a>
                    </button>

            </section>
        </form>
    </div>
</body>
</html>