<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final</title>
    <link rel="stylesheet" href="../second/second.css">
    <link rel="stylesheet" href="../fourth/fourth.css">
    <link rel="stylesheet" href="../sixth/sixth.css">
</head>
<body>
    <div class="container">
        <section>
            <img src="../../../public/img/four.svg" alt="">
        </section>

        <form action="">
            <section>
                <h1>Congratulations!!</h1>
            </section>

            <section>
                <p>Thank you for filling out the form. Your responses have been successfully saved. If necessary, the support team may reach out to you, so please check your email periodically.</p>
            </section>

            <button class="skipButton">
                <a class="handleLink" href="../../index.html">Return</a>
            </button>
        </form>
    </div>
</body>
</html>