<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form - 3</title>
    <link rel="stylesheet" href="../second/second.css">
    <link rel="stylesheet" href="fourth.css">
    <script src="fourth.js" refer></script>
</head>
<body>
    <div class="container">
        <section>
            <img src="../../../public/img/four.svg" alt="">
        </section>

        <form action="">
            <section>
                <label for="select">If you or someone close to you has already made a loss on the investment, write down the details</label>
            </section>

            <section>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </section>

            <section class="allButtons">
                
                <div class="dirButtons">
                    <button id="backButton">
                        <a class="handleLink" href="../third/index.html">Back</a>
                    </button>
                    <button id="submitButton" type="submit">Next</button>
                </div>
                
                    <button class="skipButton">
                        <a class="handleLink" href="../fourth/index.html">Skip</a>
                    </button>

            </section>
        </form>
    </div>
</body>
</html>