<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research</title>
    <link rel="stylesheet" href="first.css">
</head>
<body>
    <div class="container">
        <section>
            <img src="../../../public/img/one.svg" alt="">
        </section>

        <div class="textAndButtons">
            <section class="typography">
                <h1>Necessities of working in
                    financial markets
                </h1>
                <p>This research is to find the reasons for the failure of people in financial markets. The results of this survey will be emailed to you along with the analysis of our experienced experts.</p>
            </section>
            
            <section class="options">
                <a href="../../index.html">
                    <button>Back to home</button>
                </a>
                
                <a href="../second/index.html">
                    <button>Fill out the form</button>
                </a>
            </section>
        </div>
    </div>
</body>
</html>