<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="second.css">
</head>
<body>
    <div class="container">
        <section>
            <img src="../../../public/img/two.svg" alt="">
        </section>

        <form action="">
            <section class="selectOpt">
                <label for="select">What is the status of your account?</label>
                <select id="select" required>
                    <option value=1 id="option">I have not created an account yet.</option>
                    <option value=2 id="option">My account is not avaliable.</option>
                    <option value=3 id="option">I have cancelled my account.</option>
                </select>
            </section>

            <section class="radioOpt">
                <section id="optOne" class="gap">
                    <label for="">In which financial markets do you operate?</label>
                    <div class="alignItems">
                        <input type="radio" name="input_radio" value="1">
                        <label>Cryptocurrency Market</label>
                    </div>
                    <div class="alignItems">
                        <input type="radio" name="input_radio" value="2">
                        <label>Real Estate Market</label>
                    </div>
                    <div class="alignItems">
                        <input type="radio" name="input_radio" value="3">
                        <label>Digital Market</label>
                    </div>
                </section>
                <section id="optTwo" class="gap hidden">
                    <label for="">What's your account status?</label>
                    <div class="alignItems">
                        <input type="radio" name="input_radio" value="4">
                        <label>Wait list</label>
                    </div>
                    <div class="alignItems">
                        <input type="radio" name="input_radio" value="5">
                        <label>In analysis</label>
                    </div>
                    <div class="alignItems">
                        <input type="radio" name="input_radio" value="6">
                        <label>Suspended</label>
                    </div>
                </section>
                <section id="optThree" class="gap hidden">
                    <label for="">Select an option below</label>
                    <div class="alignItems">
                        <input type="radio" name="input_radio" value="7">
                        <label>Reactivate my account</label>
                    </div>
                    <div class="alignItems">
                        <input type="radio" name="input_radio" value="8">
                        <label>Talk with Support Team</label>
                    </div>
                    <div class="alignItems">
                        <input type="radio" name="input_radio" value="9">
                        <label>Informations about the account</label>
                    </div>
                </section>
            </section>

            <section class="allButtons">
                <div class="dirButtons">
                    
                    <button id="backButton">
                        <a class="handleLink" href="../first/index.html">Back</a>
                    </button>
                    <button id="submitButton" type="submit">Next</button>
                </div>
                
                    <button class="skipButton">
                        <a class="handleLink" href="../third/index.html">Skip</a>
                    </button>

            </section>
        </form>
    </div>
    <script src="second.js" refer></script>
</body>
</html>