* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

img {
    display: flex;
    margin: 51px auto 27.88px auto;
    width: 250px;
}

.handleLink {
    display: flex;
    color: white;
    text-decoration: none;
    width: 100%;
    justify-content: center;
}

.handleLink:hover{
    color: #000;
}

input[type="radio"] {
    appearance: none;
    background-color: #3EB25E4D;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #3EB25E4D;
    width: 13.81px;
    height: 13.81px;
    border-radius: 2px;
    cursor: pointer;
}

input[type="radio"]:hover, input[type="radio"]:checked, input[type="checkbox"]:hover, input[type="checkbox"]:checked {
    background-color: #3EB25E;
}

form {
    margin: 0px 67px 0 87px;
}

button {
    width: 142px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #3EB25E;
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

button:hover {
    background-color: #FFFF7D;
    transition: 0.3s;
    color: #000;
    cursor: pointer;
}

label {
    color: #000;
    text-align: start;
    padding-bottom: 3px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

input + label {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.radioOpt{
    width: 326px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.selectOpt {
    display: flex;
    flex-direction: column;
    padding-bottom: 11px;
}

select {
    width: 278px;
    height: 33px;
    flex-shrink: 0;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);

    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

    appearance: none;
    background: url('/public/icon/select_arrow.svg') 10px 50% no-repeat;
    padding-left: 26px;
}

.dirButtons {
    display: flex;
    gap: 18px;
}

.allButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skipButton {
    width: 302px;
    height: 26px;
    flex-shrink: 0;
}

.hidden{
    display: none !important;
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.alignItems{
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (min-width: 480px) {
    img {
        margin: 61px 76px auto 44px;
        display: flex;
        width: 340px;
        height: 344.04px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    img {
        margin: 51px 45px 27.88px 32px;
        display: flex;
        width: 43.11vw;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container{
        align-items: center;
    }
    img {
        margin: 51px auto 20px auto;
        display: flex;
        width: 40vw;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 98px;
    }
    img {
        display: flex;
        width: 43.11vw;
        /* height: 73.34vh; */
      
        flex-shrink: 0;
        margin: auto 30px auto 57.49px
    }
    button{
        width: 168px;
        height: 36px;
        text-align: center;
        font-size: 19px;
    }
    .skipButton {
        width: 100%;
        height: 36px;
    }
    label {
        font-size: 20px;
    }
    select {
        height: 42px;
        width: 100%;
        font-size: 20px;
    }
    input + label {
        font-size: 21px;
    }
}

@media (min-width: 1280px) {
    body {
        display: flex;
        justify-content: center;
    }
    .container{
        display: flex;
        flex-direction: row;
    }
    img {
        margin: 98px 90.99px auto 87.49px;
        width: 552px;
        /* height: 73.34vh; */
    }
    .allButtons {
        margin-top: 32px;
        width: 540px;
    }
    button{
        width: 256.5px;
        height: 36px;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
    }
    .skipButton {
        width: 100%;
        height: 36px;
        margin-top: 15px;
    }
    label {
        width: 540px;
        height: 40px;
        font-size: 26px;
        margin-bottom: 6px;
    }
    input + label {
        font-size: 26px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 141px 38px auto auto;
    }
    .dirButtons {
        gap: 27px
    }
    select {
        width: 459px;
        height: 52px;
        font-size: 27px;
        margin-bottom: 42px;
    }
    #optOne, #optTwo, #optThree {
        height: 227px;
        width: 540px;
    }
    input[type="radio"] {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    input[type="checkbox"] {
        width: 26px;
        height: 26px;
        border-radius: 5px;
    }
    .titleSection{
        height: 70px;
        margin-bottom: 15px;
    }
    .gap {
        gap: 0px;
    }
}